h1{
    font-family: fantasy;
    color: deeppink;
    text-align: center;  
}
body {
   background-color: aquamarine;
}
table, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    padding: 5px;
    text-align: left;
}