h1{
    font-family: fantasy;
    color: deeppink;
    text-align: center;  
}
body {
   width:100%;
   background-color: aqua;
}

img{
    width:850px;
    height:315px;
}
table{
    width:304px;
    height:228px;
    
}